<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAADP.My.MySettings.testConnectionString" connectionString="server=36.233.253.38;user id=a0012;password=pwd0012;persistsecurityinfo=True;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="SAADP.My.MySettings.testConnectionString1" connectionString="server=36.233.253.38;user id=a0012;password=pwd0012;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="SAADP.My.MySettings.testConnectionString2" connectionString="persistsecurityinfo=True;server=36.233.253.38;user id=a0012;password=pwd0012;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>